/* 
    Created on : Oct 30, 2015, 2:29:59 PM
    Author     : Bryan Daniel
*/
/*html page*/
html{
    background-image: radial-gradient(#F0F0F0, #99CCFF);
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 0 40px 20px;
    min-width: 640px;
    max-width: 1160px;  
}

/*The site title at top left*/
#title{
    padding: 0% 20% 0% 2%;
    float: left;    
}

/* Links ***/
a:link { color: #0000CC; }
a:visited { color: #330066; }
a:hover, a:focus, a:active { color: #1b46c3; }

/* Main navigation ***/
nav {
    clear: both;
    text-transform: uppercase;
    transition: font-size .2s ease-in-out;
    padding-top: 5%;
}

#nav-main{
    padding-top: 0%;
}

nav ul {
    margin: 0;
    list-style: none;
}

nav li {
    float: left;
    border: 1px solid #000000;
    box-shadow: 2px 2px 8px rgba(0,0,0,.25);
    background-color: #fc0;
    background-image: linear-gradient(to bottom, #F0F0F0 5%, #99CCFF 100%);
}

nav a:link,
nav a:visited {
    display: block;
    padding: .5em 10px;
    text-decoration: none;
}

nav:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/*Labels*/
label{
    margin-right: 0;
    text-align: right;
}

/*Content backdrop for main pages and signin */
#signinpage, #changepasswordpage, .pagecontent{
    float: left;
    display: block;
    margin: 5% 2%;    
    background-color: #F0F0F0;
    border: 1px solid black;
    height: 100%;
    box-shadow: 2px 2px 8px rgba(0,0,0,.25);
}

.pagecontent{
    width: 90%;
    border: none;
    margin: 2% 5%;
}

/*Content headings*/
h1, h2, h3{
    color: #000000;
    text-align: center;
}

/*Content for signin and password reset request*/
#signinpart, #forgotpasswordpart, #resetrequestpart{
    float: left;
    width: 90%;
    margin: 2% 2%;    
    background-color: #F0F0F0;    
}

/*Error messages*/
.error{
    color: red;
    text-align: center;
}

/*Success messages*/
.success{
    color: blue;
    text-align: center;
}
#errorpage{
    width: 90%;
    float: left;
    display: block;
    margin: 5% 2%;    
    background-color: #F0F0F0;
    border: 1px solid black;
    height: 100%;
    box-shadow: 2px 2px 8px rgba(0,0,0,.25);
}

/* buttons ***/
.button, .homepagebutton{
    word-wrap: normal;
    cursor: pointer;
    border: 1px solid #000000;
    float: left;
    margin: 5% 5%;
    padding: 2% 5%;
    color: #000000;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    background-color: #fc0;
    background-image: linear-gradient(to bottom, #F0F0F0 5%, #99CCFF 100%);
}

.homepagebutton{
    margin: 5% 5%;
    padding: 20% 20%;
    width: 100%;
    height: 100%;
}

#dataentrybutton, #treatmentbutton, #newnotebutton,
#previousnotebutton{
    float: right;
    width: 25%;
    height: 25%;
    margin: 3% 7%;
    box-shadow: 2px 2px 8px rgba(0,0,0,.25);
}

/*Signin and password reset request page text entry*/
.forminstructions, .signinlabels, .resetrequestlabels, 
#id, #password, #requestEmail{
    float: left;
}

.forminstructions{
    margin: 2% 30%;
}

.signinlabels, #signinbutton, #forgotpasswordbutton, 
.resetrequestlabels{
    margin: 2% 2% 2% 20%;
}

#id, #password, #requestEmail{
    margin: 2% 20% 2% 2%;
}

/*User name and sign out link in 
upper right corner*/
#usersignout{
    float: right;
}

/*Tables*/
table, .content{
    margin: 5% 0%;    
    background-color: #F0F0F0;
    border: 1px solid black;
    column-gap: 0;
    box-shadow: 2px 2px 8px rgba(0,0,0,.25);
}

.content{
    height: 100%;
}

table{
    table-layout: fixed;
}

.patientform{
    border: none;
}

#demographicTable{
    width: 30%;
    float: left;
}

#userTable, #editUserForm{
    width: 45%;
    float: left;
    clear: left;
    margin: 2% 2%;
}

#userAccessControlTable{
    width: 45%;
    float: right;
    margin: 2% 2%;
}

.datatable{
    clear: both;
}

td{
    width: 22%;
    padding: 2%;    
}

.hometable{
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
}

/* Add user page and patient select***/
#registertable, .patientselect{
    border: none;
    margin: 0%;
    clear: both;
}

.patientselect{
    width: 100%;
}

#registerinstructions{
    margin: 2% 20%;
}

.datalabels{
    width: 20%;
    text-align: right;
}

/*text*/
.contentText{
    margin: 2% 5%;
}

/*Data enty*/
.dataentrylabel, #datadate{
    float: left;
    margin: 5% 3%;
}

.dataentry{
    word-wrap: break-word;
}

.clinicids, .dataentrycheckbox{
    float: left;
    margin: 2% 3%;
}

#tshcheckboxcell, #removeuserlabel, 
#terminateuserlabel{
    width: 85%;
    float: left;
    font-size: .9em;
}

.datacells{
    width: 35%;
    float: left;
    font-size: .9em;
}
.datacells2{
    width: 60%;
    float: left;
    font-size: .9em;
}
#acorpc{
    margin-right: 20%;
}
#poc{
    margin-right: 30%;
}
#classdate, #erdate, #influenzadate,
#pcv13date, #ppsv23date, #hepbdate,
#tdapdate, #zosterdate, .vaccineentrydate{
    margin: 0%;
    float: left;
}
.units{
    font-size: .7em;
    margin: 0%;
    float: left;
}
.historyunits{
    font-size: .7em;
    margin: 0%;
}
#a1cunits, #glucoseunits, .bpunits{
    margin-left: 3%;
    margin-bottom: 5%;
    font-size: .7em;
}
.vaccineentrydate{
    width: 44%;
}
#screening{
    width: 70%;
}
#eye,#foot,#telephone,#psychological{
    float: right;
    width: 40%;
}
#datadate{
    float: left;
    width: 20%;
}

/*History page*/
.outoftarget{
    background-color: #FF6666;
}

.missing{
    background-color: #FFFF66;
}

.legend{
    float: right;
    margin-right: 3%;
    text-align: right;
}

.historytable, img, .statstable, #dashboardheader, .historyheader{
    clear: both;
    margin: 5%;
}

img{
    box-shadow: 2px 2px 8px rgba(0,0,0,.25);
}

.imgbox, .historybox{
    border-style: ridge;
    border-color: #F0F0F0;
    background-color: #E0E0E0;
    border-width: 10px;
    margin: 1%;
    margin-left: 4%;
    padding: 1%;
    height:550px;
    width: 800px;
    overflow: scroll;
}

.historybox{
    height: 400px;
}

.imgbox{
    margin-bottom: 4%;
}

.minitable{
    border: 1px solid #000000;
    box-shadow: 2px 2px 8px rgba(0,0,0,.25);
    margin: 1%;    
    float: left;
    width: 35%;
    font-size: .9em;
    text-align: left;
}

.minitable th{
    text-align: center;
}

#historyselecttable{
    border: none;
    box-shadow: none;
}

#notetable{
    width: 90%;    
}

#note{
    word-wrap: break-word;
}
/**
*Admin page
*/
#admin-nav{
    float: left;
    margin-right: 2%;
}

#admin-nav li{
    float: left;
    clear: left;
    margin-top: 5%;
}

/*admin form tables*/
.adminText{
    margin: 2%;
    padding: 2%;
    border: none;
}

.useraudittable, #userauditheader, 
.passwordresetrequesttable, #passwordresetrequestheader{
    clear: both;
    margin: 2%;
    padding: 2%;
    border: none;
}

#savepasswordresetrequestlist{
    width: 20%;
    float: left;
}

.emailmessageselect{
    width: 100%;
}

.qualityconfigurationdata{
    float: left;
    width: 15%;
    margin: 1%;
}

.qualityconfigurationstatus{    
    float: left;
    padding-left: 5%;
    width: 10%;
    margin: 1%;
}

.qualityconfigurationresponsibility{
    float: left;
    width: 40%;
    margin: 1%;
}

.qualityconfigurationtable{
    width: 100%;
}

#qualityconfigurationtablehead{
    padding: 2%;
}

#newresponsibility{
    width: 80%;
}

/**
*Footer
*/
footer{
    clear: both;
    text-align: left;
    height: 100px;   
}

.footertext{
    margin-top: 40%;
    margin-bottom: 5%;
}

/**
*Progress note
*/
.progressDemographicTable{
    width: 30%;
    float: left;
    margin: 2% 2%;
}

.progressTable{
    border: none;
    width: 65%;
    float: right;
    clear: right;
}

#newnotebutton,
#previousnotebutton{
    float: right;
    clear: right;
}

.progressCells{
    float: left;
    text-align: right;
    font-size: .9em;
}

.progressText{
    font-size: .9em;
}

#noteCreatedDate, #previousNoteDate{
    float: left;
    width: 26%;
    margin-top: 4%;
}

#viewpdfbutton{
    float:right;
    clear: right;
    margin: 3% 12%;    
    color: #000000;
}


#lastclassdate{
    padding-left: 9%;
}

#waistprogress, #weightreduction{
    padding-left: 0%;
}

#waistprogresslabel, #weightreductionlabel{
    padding-right: 0%;
}

#bptable{
    border: none;
    box-shadow: none;
}

#bpsystole, #bpdiastole{
    width: 70%;
}

#bpsystolecell{
    padding-bottom: 1%;
    border-bottom:  1px solid black;
}

#aceorarblabel, #bplabel{
    float: right;
}

#aceorarb{
    float: left;
    margin: 1% 2%;
}
/**
*Call list page
*/
.calllisttable{
    clear: both;
    border: none;
    width: 100%;
}

.calllisttable th, .calllisttable td{
    padding: 2%;
    word-wrap: normal;
}

#callliststartdate, #calllistcontactnumber, #calllistemail{
    word-wrap: break-word;
}

.calllistpassword, .adminemailpassword{
    float: left;
}

#calllistpasswordlabel{
    clear: left;
}

#calllistbutton{
    float: left;
    clear: left;
    width: 25%;
    height: 25%;
    margin: 3% 7%;
    box-shadow: 2px 2px 8px rgba(0,0,0,.25);
}

#nameuparrow, #namedownarrow, #dateuparrow, #datedownarrow{
    font-size: 1.5em;
}
#nameuparrow:link, #namedownarrow:link, 
#dateuparrow:link, #datedownarrow:link { color: #0080FF; }
#nameuparrow:visited, #namedownarrow:visited, 
#dateuparrow:visited, #datedownarrow:visited { color: #0080FF; }
#nameuparrow:hover, #nameuparrow:focus, #nameuparrow:active { color: #56AAFF; }
#namedownarrow:hover, #namedownarrow:focus, #namedownarrow:active { color: #56AAFF; }
#dateuparrow:hover, #dateuparrow:focus, #dateuparrow:active { color: #56AAFF; }
#datedownarrow:hover, #datedownarrow:focus, #datedownarrow:active { color: #56AAFF; }

/**
*Stats page
*/
.treatmentclass{
    text-align: right;
}

/**
*Quality page
*/
.highlighteddate{
    color: green;
}
